.navbar {
  background-color: #3D3F61;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.company-name {
  font-weight: bold;
  color: #d8e0e7;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-links li a {
  padding: 6px 12px;
  border-radius: 10px;
  text-decoration: none;
  color: #f0eaea;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.navbar-links li a:hover {
  background-color: #FC834A;
  color: #e8ecf0;
}

.navbar-links li a.active {
  background-color: #FC834A;
  color: #e8ecf0;
}

.nav-link {
  display: inline-block;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 15px;
  }

  .navbar-left {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .logo {
    height: 25px;
  }

  .company-name {
    font-size: 16px;
  }

  .navbar-links {
    flex-direction: column;
    gap: 15px;
    display: none;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color:#3D3F61;
    padding: 20px 0;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links li a {
    font-size: 14px;
    padding: 8px 12px;
  }

  .navbar-links li a.active {
    background-color: #fff;
    color: #FC834A;
  }

  .navbar-toggle {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1001;
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .navbar-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #e7ebee;
    margin: 5px auto;
    transition: 0.3s;
  }
}


@media (min-width: 769px) {
  .navbar-toggle {
    display: none;
  }
}
